<% jobs = [] %>
<% @jobs.each do |job| %>
  <% unless job[:warning].downcase == "japanese required" %>
    <% jobs << job %>
  <% end %>
<% end %>
<a href="/tag">Japanese not Required(<%= jobs.count %>)</a>
<p><%= @jobs.count %> jobs found!</p>
<% @jobs.each do |job| %>
  <h1><%= job[:title] %></h1>
  <p><%= job[:company] %></p>
  <p><%= job[:location] %></p>
  <h5><%= job[:warning] %></h5>
  <a href=<%= job[:url] %>>
    Read more </a>
<% end %>
